$boxesBackground: rgba(#000, 0.2);

$boxesOpenBackground: $boxesBackground;

.single-people {
  .main-content {
    header {
      h1 {
        margin-bottom: 0;
        line-height: 1em;
      }
      
      h2 {
        color: $primary-color;
      }
    }
  }
}

// Cast Page
.the-cast {
  article {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $boxesBackground;
    width: 100%;
    display: block;
    float: left;
    @include clearfix;
    > a {
      width: 100%;
      img {
        margin-bottom: 0;
        width: 100%;
      }
      
      div {
        padding: 0.6em 10px 0.5em;
    
        h1, h2 {
          margin: 0;
          line-height: 1em;
          padding: 0;
        }
      
        h1 {
          font-size: 23px;
          color: $primary-color;
        }
      
        h2 {
          font-size: 20px;
          color: $primary-color;
        }
        
      }
     &:hover {
       img {
         opacity: 0.6;
       }
     } 
    }
    
     &.open {
        background:$boxesOpenBackground;
        padding-bottom: 10px;
        > a h1 {
          color: white;
        }
      }
    
    @media only screen and (min-width: 540px) {
      width: 49.4%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
    
    @media only screen and (min-width: 790px) {
      width: 32.63%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 1%;
      }
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
    
    @media only screen and (min-width: 1020px) {
      width: 24.5%;
      margin-right: 0.5%;
      &:nth-of-type(2n){
        margin-right: 0.5%;
      }
      &:nth-of-type(3n){
        margin-right: 0.5%;
      }
      &:nth-of-type(4n){
        margin-right: 0;
      }
    }
    
    div.cast-content {
      display: none;
    }
    
  }
}

.content {
  clear: both;
  display: block;
  margin: 0 0 5px;
  background: transparent;
  @include clearfix;
  &.current {
    background: $boxesOpenBackground;
    padding: 20px;
    img {
      margin-bottom: 0;
    }
    h1, h2 {
      margin: 0;
      line-height: 1em;
      padding: 0;
    }
  
    h1 {
      font-size: 30px;
      color: white;
      margin-bottom: 0.2em;
    }
  
    h2 {
      font-size: 24px;
      color: $primary-color;
      margin-bottom: 0.5em;
    }
  }
}